<p-toast position="top-right"></p-toast>
<div class="flex justify-content-center ">
  <div class="flex align-items-center justify-content-center border-round m-2">
    <p-card>
      <ng-template pTemplate="header">
        <div class="flex align-content-center justify-content-center">
          <h1>Actualizacion del Usuario</h1>
        </div>
      </ng-template>
      <form [formGroup]="editUserFormGroup">

        <div class="flex align-content-center justify-content-center field grid">
          <input type="text"
                 pInputText placeholder="Usuario" formControlName="username" id="username"/>
        </div>

        <br>

        <div class="flex align-content-center justify-content-center field grid">
          <input type="text" pInputText placeholder="Contraseña" formControlName="password" id="password"/>
        </div>
        <br>

        <div class="flex align-content-center justify-content-center p-col-3">
          <p-dropdown optionLabel="name" [showClear]="true" placeholder="Estado" formControlName="status" optionValue="code" [options]="status"></p-dropdown>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <div class="flex align-content-center justify-content-center pl-1">
          <p-button label="Guardar" icon="pi pi-check" (onClick)="save()"></p-button>
          <br>
          <p-button label="Cancelar" icon="pi pi-check" severity="danger" class="pl-5" [routerLink]="['/user']"></p-button>

        </div>

      </ng-template>
    </p-card>
  </div>
</div>
