<p-toast></p-toast>
<div class="flex shadow-1 font-bold border-round overflow-hidden " >
  <div class="flex-none flex align-items-center justify-content-start font-bold border-round m-2 pl-6 mr-6 text-primary">
    <p-button label="Bienvenido a Calendar Uni" [text]="true" [routerLink]="['/home']"></p-button>
  </div>

  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-8 pl-8">
    <p-button label="Usuarios" [text]="true" [routerLink]="['/user']"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-1 pl-1">
    <p-button label="Horarios" [text]="true"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-1 pl-1">
    <p-button label="Profesores" [text]="true"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-start font-bold border-round ml-1 pl-1">
    <p-button label="Salones" [text]="true"></p-button>
  </div>

  <div class="flex flex-none align-items-center justify-content-end font-bold border-round ml-8 pl-1">
    <p-button label="Ajustes" [text]="true"></p-button>
  </div>
  <div class="flex flex-none align-items-center justify-content-end font-bold border-round ml-1 pl-1">
    <p-button label="Cerrar Session" [text]="true"></p-button>
  </div>
</div>

<br>

<p-card>
  <p-button label="Agregar Nuevo Usuario" [routerLink]="['/new-user']" severity="success"></p-button>
</p-card>

<br>

<p-card>
  <div class="card">
    <p-table
      [value]="userDomains"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      paginatorLocale="fa-IR">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">Usuario</th>
          <th style="width:25%">Fecha de Creacion</th>
          <th style="width:25%">Estado</th>
          <th style="width:25%">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.creationDate }}</td>
          <td>{{ user.active }}</td>
          <td><p-button label="Editar" [text]="true" (onClick)="navigateToEditUser(user)"></p-button>
            <p-button label="Eliminar" [text]="true" (onClick)="delete(user)" severity="danger"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</p-card>


