<div class="flex shadow-1 font-bold border-round overflow-hidden " >
  <div class="flex-none flex align-items-center justify-content-start font-bold border-round m-2 pl-6 mr-6 text-primary">
    <p-button label="Bienvenido a Calendar Uni" [text]="true" [routerLink]="['/home']"></p-button>
  </div>

  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-8 pl-8">
    <p-button label="Usuarios" [text]="true" [routerLink]="['/user']"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-1 pl-1">
    <p-button label="Horarios" [text]="true" [routerLink]="['/clases']"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-center font-bold border-round ml-1 pl-1">
    <p-button label="Profesores" [text]="true"></p-button>
  </div>
  <div class="flex flex-grow-1 align-items-center justify-content-start font-bold border-round ml-1 pl-1">
    <p-button label="Salones" [text]="true"></p-button>
  </div>

  <div class="flex flex-none align-items-center justify-content-end font-bold border-round ml-8 pl-1">
    <p-button label="Ajustes" [text]="true"></p-button>
  </div>
  <div class="flex flex-none align-items-center justify-content-end font-bold border-round ml-1 pl-1">
    <p-button label="Cerrar Session" [text]="true"></p-button>
  </div>
</div>
<br>
<router-outlet></router-outlet>
